[submodule "scripts/snakemake_helpers"]
	path = workflow/scripts/snakemake_helpers
	url = git@github.com:RachelRodgers/snakemake_helpers.git
[submodule "slurm-submit"]
	path = slurm-submit
	url = git@github.com:RachelRodgers/slurm-submit.git
